.header {
  padding: 3vh 0 3vh 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  background-color: black;
  z-index: 1000;
}

.nominated-container-visible {
  height: 45vh;
  width: 20vw;
  overflow-y: scroll;
  display: block;
  position: absolute;
  left: 70vw;
  top: 15vh;
  z-index: 1000000;
}

.nominated-container-hidden {
  display: none;
}
.wrapper {
  position: relative;
}
