.header {
  padding: 3vh 0 3vh 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  background-color: black;
  z-index: 1000;
}

.nominated-container {
  height: 60vh;
  width: 35vw;
  overflow-y: scroll;
  display: none;
}
