.logo {
  font-family: "Monoton", cursive;
  color: white;
  margin: auto;
  text-align: center;
  width: fit-content;
}

h6 {
  font-family: "Audiowide", cursive;
  color: white;
  margin: auto;
  width: fit-content;
}
